# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
imail
lib/.DS_Store
.DS_Store
.idea
vendor/*
vendor_bak/*
conf/dkim/*
tmp/*
logs/*
internal/app/logs/*
conf/app.conf
*.db3
