{{template "base/header" .}}
<div class="user settings password">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.auth_password"}}
				</h4>
				<div class="ui attached segment">
					<div class="ui action input field">
						<input type="text" id="authpassword" 
						value="{{if .AuthPassword}}{{.AuthPassword}}{{else}}{{.i18n.Tr "settings.auth_password_click"}}{{end}}" readonly>

						<button id="clipboard-btn" class="ui teal right labeled icon button clipboard" data-clipboard-target="#authpassword" data-success="{{.i18n.Tr "copy"}}{{.i18n.Tr "common.success"}}">
							<i class="copy icon"></i>{{.i18n.Tr "copy"}}
						</button>
					</div>

					<h4 class="ui horizontal divider header">
					  <i class="tag icon"></i>
					  {{.i18n.Tr "settings.auth_password_desc"}}
					</h4>

					<form class="ui form field" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<div class="field inline">
							<button class="ui green button">{{$.i18n.Tr "settings.auth_password"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
