{{template "base/header" .}}
<div class="user settings profile">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.client"}}
				</h4>
				<div class="ui attached segment">

					<a target="_blank" href="https://www.foxmail.com"><img class="ui centered image" src="/public/img/foxmail.png"></a>
					<br/>
					<p class="center">
						<button class="ui envelope button center">
						  <i class="envelope icon"></i>
						  Foxmail
						</button>
					</p>

					<br/>
					<a target="_blank" href="http://mail.163.com/dashi/"><img class="ui centered image" src="/public/img/163.png"></a>

					<p class="center">
						<button class="ui envelope button center">
						  <i class="envelope icon"></i>
						  163
						</button>
					</p>

					<br/>
					<a target="_blank" href="https://sparkmailapp.com/"><img class="ui centered image" src="/public/img/spark.png"></a>
					<br>
					
					<p class="center">
						<button class="ui envelope button center">
						  <i class="envelope icon"></i>
						  Spark
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
