{{/*
<html>
<body>
	<div>
*/}}


<footer>
	<div class="ui container">
		<div class="ui left">
			© {{Year}} {{AppName}}
		</div>
		<div class="ui right links">
			
			<div class="ui language bottom floating slide up dropdown link item">
				<i class="world icon"></i>
				<div class="text">简体中文</div>
				<div class="menu">
					
						<a class="item active selected" href="#">简体中文</a>
						<a class="item " href="?lang=en-US">English</a>
						<a class="item " href="?lang=zh-HK">繁體中文（香港）</a>
						<a class="item " href="?lang=zh-TW">繁體中文（臺灣）</a>
						<a class="item " href="?lang=de-DE">Deutsch</a>
					
				</div>
			</div>
			<a href="/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
			<a target="_blank" rel="noopener noreferrer" href="https://gogs.io">官方网站</a>
			
		</div>
	</div>
</footer>




</div></body></html>