<head>
<base target="_blank" />
<style type="text/css">
::-webkit-scrollbar{ display: none; }
</style>
<style id="cloudAttachStyle" type="text/css">
#divNeteaseBigAttach, #divNeteaseBigAttach_bak{display:none;}
</style>
<style id="blockquoteStyle" type="text/css">blockquote{display:none;}</style>
</head>
<body tabindex="0" role="listitem">


<div id="content">

{{if eq .ParseMail.HTMLBody "" }}
	{{.ParseMail.TextBody}}
{{else}}
	{{.ParseMail.HTMLBody | Safe}}
{{end}}


<div style="clear:both;height:1px;"></div>
</div>

<script>
var _c=document.getElementById('content');
_c.innerHTML=(_c.innerHTML||'').replace(/(formAction|onclick|javascript)/ig, '__$1').replace(/<\/?marquee>/ig,'');
var _s = _c.getElementsByTagName('style');
for(var i=0;i<_s.length;i++){ var _st = _s[i].innerHTML.split('}'); for(var j=0;j<_st.length-1;j++){ _st[j] = '.netease_mail_readhtml '+_st[j]; } _s[i].innerHTML = _st.join('}'); }
</script>
<style type="text/css">
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;width:95%}
th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
img{ border:0}
header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
blockquote{margin-right:0px}
</style>


<style id="ntes_link_color" type="text/css">a,td a{color:#064977;text-decoration: none}</style>

</body>