{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "mail/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}

				<div class="ui attached segment">

					<div class="ui small basic icon buttons">
					  <button class="ui button"><i class="fa fa-trash-o fa-fw"></i></button>
					</div>

					<!--


					<div class="ui small compact menu">
					  <div class="ui small dropdown item">
					    Dropdown
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>

					  <div class="ui small dropdown item">
					    Dropdown
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>


					  <div class="ui small dropdown item">
					    Dropdown
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>

					</div>

					-->

				</div>



				{{if .Mail}}
				<div class="ui segment">
					<h2 class="ui dividing header" style="font-size:15px;">{{.ParseMail.Subject}}</h2>

				    <table class="ui celled striped table">
					  <tbody>
					    <tr>
					      <td class="two wide column">发件人</td>
					      <td>{{.ParseMail.From}}</td>
					    </tr>
					    <tr>
					      <td>收件人</td>
					      <td>{{.ParseMail.To}}</td>
					    </tr>
					    <tr>
					      <td>时 间</td>
					      <td>{{.ParseMail.Date}}</td>
					    </tr>

					    <tr>
					      	<td colspan="2">
					      	{{if eq .ParseMail.HTMLBody "" }}
								{{.ParseMail.TextBody}}
							{{else}}
								{{.ParseMail.HTMLBody | Str2HTML}}
							{{end}}
						   	</td>
					    </tr>
					  </tbody>
					</table>
				
				</div>
				{{end}}

			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}