{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "mail/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<div class="ui attached segment">
					{{template "admin/base/search" .}}
				</div>

				<div class="ui attached segment">

					<div class="ui checkbox"><input type="checkbox" name="example"></div>
					
					<div class="ui small basic icon buttons">
					  <button class="ui button">{{$.i18n.Tr "mail.menu.delete"}}</button>
					</div>

					<div class="ui small compact menu">
					  <div class="ui small dropdown item">
					  	{{$.i18n.Tr "mail.menu.sign"}}
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>

					  <div class="ui small dropdown item">
					    {{$.i18n.Tr "mail.menu.move"}}
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>


					  <div class="ui small dropdown item">
					    {{$.i18n.Tr "mail.menu.more"}}
					    <i class="dropdown icon"></i>
					    <div class="menu">
					      <div class="item">Choice 1</div>
					      <div class="item">Choice 2</div>
					      <div class="item">Choice 3</div>
					    </div>
					  </div>


					</div>

				</div>


				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
			
						<tbody>
							{{range .Mail}}
								<tr>
									<td><div class="ui checkbox"><input type="checkbox" name="example"></div></td>
									<td>{{.MailFromInContent}}</a></td>
									<td>{{.Subject}}</td>
									<td>{{DateFmtMail .Created }}</td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				{{template "mail/page" .}}
			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}