{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "mail/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<div class="ui attached segment">
					{{template "admin/base/search" .}}
				</div>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
								<th>ID</th>
								<th>{{.i18n.Tr "admin.users.name"}}</th>
								<th>{{.i18n.Tr "admin.users.activated"}}</th>
								<th>{{.i18n.Tr "admin.users.admin"}}</th>
								<th>{{.i18n.Tr "admin.users.created"}}</th>
								<th>{{.i18n.Tr "admin.users.edit"}}</th>
							</tr>
						</thead>
						<tbody>
							{{range .Mail}}
								<tr>
									<td>{{.Id}}</td>
									<td>{{.MailFrom}}</a></td>
									<td>{{.MailTo}}</td>
									<td></td>
									<td></td>
									<td><a href="{{$.Link}}/{{.Id}}"><i class="fa fa-pencil-square-o"></i></a></td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				{{template "mail/page" .}}
			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}