<div class="four wide column">
	
	<div class="ui two item tabable menu">
		<a class="item" href="{{AppSubURL}}/mail/received">{{.i18n.Tr "mail.receive"}}</a>
		<a class="item" href="{{AppSubURL}}/mail/new">{{.i18n.Tr "mail.write_letter"}}</a>
	</div>

	<div class="ui vertical menu">
		
		<div class="header item">{{.i18n.Tr "mail.mail_panel"}}</div>
		<a class="item" href="{{AppSubURL}}/mail/received">{{.i18n.Tr "mail.received"}}</a>
		<a class="item" href="{{AppSubURL}}/mail/sent">{{.i18n.Tr "mail.sent"}}</a>
	</div>
</div>