{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		{{/*<div class="ui grid">*/}}
			{{template "base/alert" .}}
			{{/*<div class="twelve wide column content">*/}}
				
				<form class="ui form" action="{{AppSubURL}}/mail/new" method="post">
				
					<div class="inline field" >
					  <div class="ui label">收件人</div>
					  <input type="email" name="to_mail" placeholder="xxx@xxx.xx">
					</div>


					<div class="inline field">
					  <div class="ui label">主&nbsp;&nbsp;&nbsp;题</div>
					  <input type="text" name="subject">
					</div>

					</hr>
					<div id="content"></div>
					<textarea class="hide" name="content" id="area_content"></textarea>

					<div class="ui divider"></div>

					<div class="inline field">
						<button class="ui primary button">{{.i18n.Tr "mail.send.send_now"}}</button>
						<button class="ui primary button">{{.i18n.Tr "mail.send.cancel_send"}}</button>
					</div>
					
				</form>

			{{/*</div>*/}}
		{{/*</div>*/}}
	</div>
</div>

<script>
const E = window.wangEditor;
const editor = new E('#content');
const $area_content = $('#area_content');

editor.config.onchange = function (html) {
    $area_content.val(html);
}
$area_content.val(editor.txt.html());

editor.config.zIndex = 500;
editor.config.uploadImgShowBase64 = true;
editor.config.showFullScreen = true;
editor.config.showMenuTooltips = true;
editor.config.height = 400;
editor.create()
</script>

{{template "base/footer" .}}