{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{if gt .Bid 0}}
				{{template "mail/navbar_bid" .}}
			{{else}}
				{{template "mail/navbar" .}}
			{{end}}

			<div class="twelve wide column content">
				{{template "base/alert" .}}

				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<tbody>
						<tr><td colspan="5">
							<form class="ui form" action="{{AppSubURL}}/mail/new" method="post">
			
								<div class="inline field" >
								  <div class="ui label">收件人</div>
								  <input type="email" name="to_mail" placeholder="" value="{{.to_mail}}">
								</div>


								<div class="inline field">
								  <div class="ui label">主&nbsp;&nbsp;&nbsp;题</div>
								  <input type="text" name="subject" value="{{.subject}}">
								</div>

								</hr>
								<textarea name="content" id="content"></textarea>

								<div class="ui divider"></div>

								<div class="inline field">
									<button class="ui primary button">{{.i18n.Tr "mail.send.send_now"}}</button>
									<button class="ui primary button">{{.i18n.Tr "mail.send.cancel_send"}}</button>
								</div>
								
							</form>
						</td></tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
ClassicEditor.create( document.querySelector( '#content' ), {
	// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
	language: 'zh-cn',
}).then( editor => {
	window.editor = editor;
}).catch( err => {
	console.error( err.stack );
});


</script>

{{template "base/footer" .}}