{{template "base/header" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "admin.domain.manage_panel"}} ({{.i18n.Tr "admin.total" .Total}})
					<div class="ui right">
						<a class="ui black tiny button" href="{{AppSubURL}}/admin/domain/new">{{.i18n.Tr "admin.domain.add_domain"}}</a>
					</div>
				</h4>

				<div style="display:none;" id="local_ip">{{ .LocalIp }}</div>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
							<th>{{.i18n.Tr "admin.domain.name"}}</th>
							<th>{{.i18n.Tr "admin.domain.mx"}}</th>
							<th>{{.i18n.Tr "admin.domain.a"}}</th>
							<th>{{.i18n.Tr "admin.domain.spf"}}</th>
							<th>{{.i18n.Tr "admin.domain.dkim"}}</th>
							<th>{{.i18n.Tr "admin.domain.dmarc"}}</th>
							<th>{{.i18n.Tr "admin.domain.is_default"}}</th>
							<th>{{.i18n.Tr "admin.domain.op"}}</th>
							</tr>
						</thead>
						<tbody>
						{{range .Domain}}
						<tr>
							<td><a href="#">{{.Domain}}</a></td>
							<td>
								<i class="fa fa{{if .Mx}}-check{{end}}-circle-o"></i>
								
							</td>
							<td><i class="fa fa{{if .A}}-check{{end}}-circle-o"></i></td>
							<td><i class="fa fa{{if .Spf}}-check{{end}}-circle-o"></i></td>
							<td><i class="fa fa{{if .Dkim}}-check{{end}}-circle-o"></i></td>
							<td><i class="fa fa{{if .Dmarc}}-check{{end}}-circle-o"></i></td>
							<td>
								<a href="{{$.Link}}/admin/domain/default/{{.Id}}"><i class="fa fa{{if .IsDefault}}-check{{end}}-square-o"></i></a>
							</td>
							<td>
								{{if and .Mx .Spf .Dkim .Dmarc}}
								{{else}}
								<a>
									<i domain="{{.Domain}}" onclick="showModelInfo(this);"  style="cursor:pointer;" class="fa fa-info-circle"></i>
								</a>
								{{end}}

								<a href="{{$.Link}}/admin/domain/check/{{.Id}}">
									<i class="fa fa-pencil-square-o"></i>
								</a>
								<a href="{{$.Link}}/admin/domain/delete/{{.Id}}">
									<i class="fa fa-times"></i>
								</a>
							</td>
						</tr>
						{{end}}
						</tbody>
					</table>
				</div>

				{{template "admin/base/page" .}}
			</div>
		</div>
	</div>
</div>

{{/* 模态 */}}
<div id="domain_help" class="ui modal">
  <i class="close icon"></i>
  <div class="header center domain_set">Modal Title</div>
  <div class="content">
    <div class="ui unstackable attached table segment">
		<table class="ui unstackable very basic striped table">
			<tbody>
				<tr>
					<td>MX</td>
					<td>MX</td>
					<td span class="domain_set">mail.>exp.com</td>
					<td>mx.<span class="domain_set">exp.com</span></td>
				</tr>
				<tr>
					<td>A</td>
					<td>A</td>
					<td class="domain_set">exp.com</td>
					<td class="domain_ip">127.0.0.1</td>
				</tr>
				<tr>
					<td>SPF</td>
					<td>TXT</td>
					<td class="domain_set">exp.com</td>
					<td>v=spf1 a mx ~all</td>
				</tr>
				<tr>
					<td>DKIM</td>
					<td>TXT</td>
					<td>default._domainkey</td>
					<td style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
						<p class="dkim"></p>
					</td>
				</tr>

				<tr>
					<td>DMARC</td>
					<td>TXT</td>
					<td>_dmarc</td>
					<td>v=DMARC1;p=quarantine;rua=mailto:admin@<span class="domain_set">exp.com</span></td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
</div>

<script>
function showModelInfo(obj){
	var domain = $(obj).attr("domain");
	$('#domain_help .domain_set').text(domain);
	$.get("/admin/domain/info/"+domain, function(data){
		if (data['code']>0){
			toast(data['msg']);
		} else {
			$('#domain_help .domain_ip').text(data['data']['ip']);
			$('#domain_help .dkim').text(data['data']['dkim']);
		}
	});
	

	$('#domain_help').modal('show');
}

</script>
{{template "base/footer" .}}
